html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 2000px;
    color: rgb(11, 20, 27);
    background: rgb(202, 220, 255);
    text-align: justify;
    display: flex;
    font-family: sans-serif; /* https://99designs.fr/blog/design-web-digital/polices-de-caracteres-web/ */
    scroll-behavior: smooth; 
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 150px;
    background-color: #313233;
}


header > h1 {
    color: rgb(43, 204, 233);
    font: bold 40px sans-serif;
    text-align: center;
    margin-top: 40px;
}


@supports (background-clip: text) and (color: transparent) {

    header > h1 {
        font: bold 40px sans-serif;
        text-align: center;
        margin-top: 40px;
        background: linear-gradient(90deg, #061fff, #0c9aec);
        background-clip: text;
        color: transparent;
    }
}


@media screen and (min-width: 500px) and (max-width:1263px) {

    .intro h3 {
        margin-left: 5%;
        width: 90%;
    }


    table {
        position: absolute;
        top: 450px;
        left: 10px;
    }

    .front-dev_intro {
        top: 900px;
        left: 0%;
        max-width: 100%;
        width: 100%;
        height: 360px;
    }

    .what_is_front-dev {
        top: 1260px;
        left: 0%;
        max-width: 100%;
        width: 100%;
        height: 360px;
    }

    .front-dev_levels {
        top: 1620px;
        left: 0%;
        max-width: 100%;
        width: 100%;
        height: 684px;
    }



        .vid_front_end {
            position: absolute;
            top: 2304px;
            width: 640px;
            height: 360px;
        }

        .vid_front_end2 {
            position: absolute;
            top: 2664px;
            left: 0px;
            width: 640px;
            height: 360px;
        }



        @media screen and (min-width: 0px) and (max-width:639px) {
            .vid_front_end {
                visibility: hidden;
            }
    
            .vid_front_end2 {
                visibility: hidden;
            }
        }
}



@media screen and (min-width: 1263px) and (max-width:1904px) {

    .intro {
        position: absolute;
        top: 150px;
        height: 150px;
        background-color: #97c8ff;
    }

    .intro h3 {
        margin-left: 5%;
        width: 90%;
    }

    table {
        position: absolute;
        top: 310px;
        left: 10px;
    }

    .front-dev_intro {
        top: 1150px;
        left: 0px;
        max-width: 100%;
        width: 640px;
        height: 360px;
    }

    .what_is_front-dev {
        top: 800px;
        left: 0px;
        max-width: 100%;
        width: 640px;
        height: 360px;
    }

    .front-dev_levels {
        top: 800px;
        left: 640px;
        max-width: 623px;
        width: 640px;
        height: 710px;
    }
    .niveau_img {
        object-fit: fill;
        width:100%;
    }


    .vid_front_end {
        position: absolute;
        top: 1510px;
        width: 640px;
        height: 360px;
    }

    .vid_front_end2 {
        position: absolute;
        top: 1510px;
        left: 640px;
        width: 623px;
        height: 350px;
    }

    .data-missions {
        top: 2000px;
        left: 0px;
        max-width: 100%;
        height: 600px;
        width: 600px;
    }


    .data-competences {
        top: 2000px;
        left: 600px;
        max-width: 100%;
        height: 600px;
        width: 600px;
    }
}


@media screen and (min-width: 1905px) {


    .intro {
        position: absolute;
        top: 150px;
        height: 150px;
        background-color: #97c8ff;
    }

    .intro h3 {
        margin-left: 5%;
        width: 90%;
    }


    table {
        position: absolute;
        top: 310px;
        left: 10px;
    }

    .front-dev_intro {
        top: 700px;
        left: 1270px;
        max-width: 100%;
        width: 635px;
        height: 358px;
    }

    .what_is_front-dev {
        top: 700px;
        left: 0px;
        max-width: 100%;
        width: 640px;
        height: 360px;
    }

    .front-dev_levels {
        top: 700px;
        left: 630px;
        max-width: 35%;
        width: 640px;
        height: 714px;
    }

    .niveau_img {
        object-fit: fill;
        width:100%;
    }


    
    .vid_front_end {
        position: absolute;
        top: 1060px;
        width: 630px;
        height: 354px;
    }

    .vid_front_end2 {
        position: absolute;
        top: 1058px;
        left: 1270px;
        width: 635px;
        height: 357px;
    }
}




@media screen and (min-width: 500px) {

    @media screen and (min-width: 500px) and (max-width:20000px) {
        .intro {
            position: absolute;
            top: 150px;
            height: 150px;
            font-size: 1.5vw;
            background-color: #97c8ff;
        }
    }
}





