.image_ent { /* Style de la "boîte" de l'image */
    top: 200px;
    right: 0px;
    width: 640px;
    height: 360px;
    position: absolute;
    overflow: hidden;
}


.image_ent::before { /* Style de l'image + couleur derière l'image */
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left top, #470264, #a228c4);

}


.image_ent .img{ /* Style de l'image */
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: url(images/front-end_schema.webp);
    background-size: 640px;
    background-repeat: no-repeat;
    transition: 0.5s;
    transition-delay: 0s;
    background-position: 100%;
}

.image_ent:hover .img{ /* Animation de l'image */
    transform: translateY(-100%);
}

.content { /* Style du texte */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}


.image_ent .content{ /* Sortie du texte */
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transition-delay: 0s;
    background-position: 100%;
}



.image_ent:hover .content { /* Entrée du texte */
    transform: translateY(0%);
    transition: 0.8s;
    transition-delay: 0s;
}