html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 2000px;
    color: rgb(11, 20, 27);
    background: rgb(202, 220, 255);
    text-align: justify;
    display: flex;
    font-family: sans-serif; /* https://99designs.fr/blog/design-web-digital/polices-de-caracteres-web/ */
    scroll-behavior: smooth; 
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 150px;
    background-color: #313233;
}


header > h1 {
    color: rgb(43, 204, 233);
    font: bold 40px sans-serif;
    text-align: center;
    margin-top: 40px;
}


@supports (background-clip: text) and (color: transparent) {

    header > h1 {
        font: bold 40px sans-serif;
        text-align: center;
        margin-top: 40px;
        background: linear-gradient(90deg, #061fff, #0c9aec);
        background-clip: text;
        color: transparent;
    }
}


@media screen and (min-width: 0px) and (max-width:1263px) {


    .intro {
        position: absolute;
        top: 150px;
        height: 150px;
        font-size: 20px;
        background-color: #97c8ff;
    }

    .intro h3 {
        margin-left: 5%;
        width: 90%;
    }


    table {
        position: absolute;
        top: 450px;
        left: 10px;
    }

    .front-dev_intro {
        top: 900px;
        left: 0%;
        max-width: 100%;
        width: 100%;
        height: 360px;
    }

    .what_is_front-dev {
        top: 1260px;
        left: 0%;
        max-width: 100%;
        width: 100%;
        height: 360px;
    }

    .front-dev_levels {
        top: 1620px;
        left: 0%;
        max-width: 100%;
        width: 100%;
        height: 684px;
    }


}



@media screen and (min-width: 1263px) and (max-width:1908px) {

    .intro {
        position: absolute;
        top: 150px;
        height: 150px;
        background-color: #97c8ff;
    }

    .intro h3 {
        margin-left: 5%;
        width: 90%;
    }

    table {
        position: absolute;
        top: 310px;
        left: 10px;
    }

    .front-dev_intro {
        top: 1150px;
        left: 0px;
        max-width: 100%;
        width: 640px;
        height: 360px;
    }

    .what_is_front-dev {
        top: 800px;
        left: 0px;
        max-width: 100%;
        width: 640px;
        height: 360px;
    }

    .front-dev_levels {
        top: 800px;
        right: 0px;
        max-width: 623px;
        width: 640px;
        height: 710px;
    }
    .niveau_img {
        object-fit: fill;
        width:100%;
    }
}


@media screen and (min-width: 1909px) {


    .intro {
        position: absolute;
        top: 150px;
        height: 150px;
        background-color: #97c8ff;
    }

    .intro h3 {
        margin-left: 5%;
        width: 90%;
    }


    table {
        position: absolute;
        top: 310px;
        left: 10px;
    }

    .front-dev_intro {
        top: 700px;
        right: 0px;
        max-width: 100%;
        width: 640px;
        height: 360px;
    }

    .what_is_front-dev {
        top: 700px;
        left: 0px;
        max-width: 100%;
        width: 640px;
        height: 360px;
    }

    .front-dev_levels {
        top: 700px;
        left: 630px;
        max-width: 35%;
        width: 640px;
        height: 684px;
    }


}



@media screen and (min-width: 470px) and (max-width:680px) {
    .intro {
        position: absolute;
        top: 150px;
        height: 150px;
        font-size: 17px;
    }
}

@media screen and (min-width: 0px) and (max-width:470px) {
    .intro {
        position: absolute;
        top: 150px;
        height: 150px;
        font-size: 14px;
    }
}















.nav_content {
    visibility: hidden;
    position: fixed;
    top: 70px;
}

nav:hover .nav_bg {
    position: sticky;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 300px;
    background-color: #3d96fc;
    z-index: 100;
}

.menu_icon_blue {
    visibility: visible;
    position: fixed;
    top: 30px;
    left: 35px;
    width: 30px;
    z-index: 101;
}

.menu_icon {
    visibility: hidden;
    position: fixed;
    top: 30px;
    left: 35px;
    width: 30px;
    z-index: 101;
}

nav:hover .menu_icon {
    visibility: visible;
    position: fixed;
    top: 30px;
    left: 35px;
    width: 30px;
    z-index: 101;
}

nav:hover .menu_icon_blue {
    visibility: hidden;
    position: fixed;
    top: 30px;
    left: 35px;
    width: 30px;
    z-index: 101;
}


nav:hover .nav_bg h2 {
    position: fixed;
    top: 11px;
    left: 100px;
}

nav:hover .nav_content{
    visibility: visible;
    position: fixed;
    top: 10%;
    z-index: 100;
    left: 0px;
    width: 300px;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #7cb9ff; 
}

