table {
    border-collapse: collapse;
    text-align: center;
}


th {
    border: 1px solid black;
    padding:4px 6px;
}

th {
    vertical-align: center;
}

thead > tr, .side-row{
    background-color: #da83ff;
}


.invi {
    border: 0px solid black;
    background-color: rgb(202, 220, 255);
}