nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    background-color: rgb(225, 239, 255);
    transform: translateX(-110%);
    transition: 0.2s cubic-bezier(0.33, 1, 0.68, 1);
    box-shadow: 2px 0px 2px rgb(0, 0, 0);
}


nav.is-open {
    transform: translateX(0%);
    transition: 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

nav.is-open-no-transition {
    transition: none;
    transform: translateX(0%);
}


.burger-button-blue {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 20px;
    cursor: pointer;
    z-index: 99;
}

.burger-button-blue::before {
    display: inline-block;
    background: no-repeat center / 100% url("../images/menu_icon-blue.webp");
    position: absolute;
    content: "";
    inset: 0;
    z-index: 99;
}


.burger-button-black {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
}

.burger-button-black::before {
    display: inline-block;
    background: no-repeat center / 100% url("../images/menu_icon.webp");
    position: absolute;
    content: "";
    inset: 0;
}



.nav_content {
    position: relative;
    display: block;
    height: 100vh;
    background-color: #cbe3ff; 
}


.nav_bg {
    font-size: clamp(15px, 2.5vw, 25px);
    text-align: center;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 20px;
    gap: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    list-style: none;
    text-align: center;
    padding-block: 10px;
}



.menu-der {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h3 {
    cursor: pointer;
}

.title h3:hover, .title div h4:hover {
    opacity: 70%;
}

.title div {
    display: none;
    background-color: #d1e6ff;
}


.title div h4 {
    padding-block: 12px ;
    padding-left: 20px;
}


.title.is-open div {
    display: block;
}

.title1 h3{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.title2 h3{
    background-color: #c6e1ff;
    padding: 10px;
}



a {
    text-decoration: none;
    color: black;
}