table {
    margin-inline: auto;
    margin-block: 50px;
    border-collapse: collapse;
    text-align: center;
}


th {
    border: 1px solid rgb(0, 0, 0);
    padding:4px 6px;
}

th {
    vertical-align: middle;
}

thead > tr, .side-row{
    background-color: #80a8ff;
}


.invi {
    border: 0px solid black;
    background-color: rgb(255, 255, 255);
}




@media screen and (max-width: 575px) {
    table.table-without-image {
        display: block;
    }

    table.table-with-image{
        display: none;
    }
}


@media screen and (min-width: 575px) {
    table.table-without-image {
        display: none;
    }

    table.table-with-image{
        display: block;
    }
}