* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 2000px;
    color: rgb(11, 20, 27);
    background: rgb(255, 255, 255);
    text-align: justify;
    font-family: sans-serif; /* https://99designs.fr/blog/design-web-digital/polices-de-caracteres-web/ */
    scroll-behavior: smooth; 
}


img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.line {
    width: 90%;
    margin-inline: 5%;
    height: 1px;
    background-color: rgb(158, 158, 158);
}

.line-gradient {
    width: 90%;
    margin-inline: 5%;
    height: 1px;
    background: linear-gradient(90deg, #ea06ff, #0ce4ec);
}


header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2vw;
}

header h1 {
    background: linear-gradient(90deg, #061fff, #0c9aec);
    text-align: center;
    padding-inline: 70px;
}


.icon-boussole {
    width: 10vw;
    height: 10vw;
    animation: rotation 12s linear 0s infinite;
    position: absolute;
    top: 0vw;
    right: 2vw;
}

.icon-boussole:hover{
    animation-play-state: paused;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}



.title-front h1, .title-data h1{
    background: linear-gradient(90deg, #ea06ff, #0ce4ec);
}

header h1, .title-front h1, .title-data h1{
    margin: 0px;
    font-size: clamp(30px, 4vw, 75px);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    text-align: center;
    color: transparent;
    font-family: "Titillium Web"
}

.title-data h1, .title-front h1 {
    font-size: clamp(25px, 3vw, 75px);
    text-align: left;
}



.intro {
    background-color: #ffffff;
    padding: 20px;
}

.intro h3 {
    max-width: 90ch;
    margin-inline: auto;
}


.text {
    padding: 5vw;
}

.text h2 {
    padding-bottom: 20px;
    margin: 0px;
    background: linear-gradient(90deg, #ea06ff, #0ce4ec);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.text h4 {
    padding-inline: 10px;
}


.logo {
    height: 15px;
    width: 15px;
}

.link {
    text-decoration: underline;
}

.link:hover {
    opacity: 60%;
}